[Unit]
Description=Send email about reef status every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=reefer-mailer.service

[Install]
WantedBy=multi-user.target
