{
  "env" : {
     "testing": {
        "presets" : [
          "es2015",
          "react",
          "stage-2",
          "env"
        ],
     "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties"
       ]
     },
     "production": {
        "presets" : [
          ["es2015", {"modules": false}],
          "react",
          ["env", {"modules": false}]
        ]
     }
  }
}
