bin
api.txt
node_modules
assets/ui.js
assets/ui.js.map
reef-pi.db
*.db
*.deb
dist
vendor/
ui/
.bundle
server.crt
server.key
.DS_Store
test/thumbnails/*.png
coverage.txt
.idea/
__snapshots__
coverage
.vscode
front-end/src/utils/translations/*.json
test-data
.vendor-new/*
package-lock.json
