bin
node_modules
assets/ui.js
assets/ui.js.map
reef-pi.db
*.db
*.lock
*.deb
dist
ui/
.bundle
server.crt
server.key
.DS_Store
test/thumbnails/*.png
coverage.txt
.idea/
__snapshots__
coverage
.vscode
jsx/utils/translations/*.json
