@import "~bootstrap/scss/bootstrap";
@import './sign-in';

.reef_pi_panel {
  border-style: none;
}
body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.body-panel {
  padding-bottom: 70px;
}
.nav-item {
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .body-panel {
    padding-bottom: 155px;
  }
}

@media screen and (min-width: 576px) {
  .body-panel {
    padding-bottom: 105px;
  }
}

@media screen and (min-width: 768px) {
  .body-panel {
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 992px) {
  .body-panel {
    padding-bottom: 70px;
  }
}
