@import "~bootstrap/scss/bootstrap";
@import "./sign-in";
@import "./dashboard";
@import "./grid";

.reef_pi_panel {
  border-style: none;
}

.pointer {
  cursor: pointer;
}

.bottom-bar {
  border-top: solid 1px #CCC;
}

.custom-select {
  background: #FFF;
}

body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.body-panel {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 70px;
}

.nav-item {
  cursor: pointer;
}

.conf-nav {
  margin-bottom: 10px;
}

input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .body-panel {
    padding-bottom: 155px;
  }
}

@media screen and (min-width: 576px) {
  .body-panel {
    padding-bottom: 105px;
  }
}

@media screen and (min-width: 768px) {
  .body-panel {
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 992px) {
  .body-panel {
    padding-bottom: 70px;
  }
}
