@import './tokens';

body,html,#main-panel {
  &.auth-page{
    height: 100%;
  }
}
#main-panel {
  &.auth-page{
    background-color: $surface-auth-color;
  }
}
.auth-page{
  .reef-pi-title{
    color: $text-strong-color;
  }
}
