@import './tokens';

.reef-pi-grid {

  .grid-row {
    padding: $space-xxs $space-xxs 0 $space-xxs;
  }

  .grid-row>label {
    width: 100%;
  }

  .grid-cell-container {
    padding: 0 $space-xxs 0 0;
  }
  
  .grid-cell {
    border: 1px solid $border-strong-color;
    border-radius: $radius-md;
    padding: $space-xxs;
  }

}
