.reef-pi-grid {

  .grid-row {
    padding: 5px 5px 0 5px;
  }

  .grid-row>label {
    width: 100%;
  }

  .grid-cell-container {
    padding: 0 5px 0 0;
  }
  
  .grid-cell {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px
  }

}