<html>
  <head>
    <title>Reefer</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
    <div class="container">
      <div class="panel">
        <a href="/logout"> Logout</a>
      </div>
    </div>
    <div class="container">
      <div class="panel">
        <img src="images/latest.png" width="800" height="600">
      </div>
    </div>
  </body>
</html>
