<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src=" https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src="https://fb.me/react-with-addons-15.3.0.min.js"></script>
		<script src="https://fb.me/react-dom-15.3.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="panel">
        <a href="/logout"> Logout</a>
      </div>
    </div>
    <div class="container">
      <div class="panel" id="screenshot">
        <img src="images/latest.png" width="800" height="600">
      </div>
      <div class="panel">
				<h2>Relay 1</h2>
				<div class="btn-group" id="relay_1">
				</div>
      </div>
      <div class="panel">
				<h2>Relay 2</h2>
				<div class="btn-group" id="relay_2">
				</div>
      </div>
      <div class="panel">
				<h2>Doser 1</h2>
				<div class="btn-group" id="doser_1">
				</div>
      </div>
      <div class="panel">
				<h2>Doser 2</h2>
				<div class="btn-group" id="doser_2">
				</div>
      </div>
      <div class="panel">
				<h2>Schedule</h2>
				<div class="btn-group" id="schedule">
      </div>
    </div>
    <div class="container">
      <div class="panel" id="console">
      </div>
    </div>
    <script src="assets/js/reefer.js" type="text/babel"></script>
  </body>
</html>
