name: deb
on: [push, pull_request]
jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19'
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/cache@v3.0.11
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
      - name: Install
        run: yarn
      - name: go
        run: make go
      - name: pi
        run: make pi
      - name: pi-zero
        run: make pi-zero
      - name: bundler
        run: gem install bundler -v 2.1.4 --no-document
      - name: fpm
        run: bundle install
      - name: deb
        run: make deb
