name: jest
on:
  workflow_call:
  push:
    branches: [ planted ]
  pull_request:
    branches: [ planted ]
jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/cache@v4.2.0
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
      - name: Install
        run: yarn
      - name: standard
        run: make standard
      - name: jest
        run: yarn run jest-update-snapshot
