name: translation
on: [push, pull_request]

jobs:
  Translations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.13.0
      - uses: actions/cache@v3.3.1
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
      - name: Install
        run: yarn
      - name: Check Translations
        run: yarn run translations:chk
